<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Show polygon information on click</title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
<style>
    /* Существующие стили */
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
    .calculation-box {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.72);
        padding: 6px;
        border-radius: 5px;
        font-size: 14px;
        max-width: 300px;
    }
    .button-container {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 1;
    }
    .button {
        padding: 8px 16px;
        background-color: rgba(128, 128, 128, 0.5);
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: rgba(128, 128, 128, 0.8);
    }

    /* Стилизация выпадающего списка */
    #color-column {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        width: 200px;
        background-color: rgba(255, 255, 255, 0.75); /* Полупрозрачный фон */
        padding: 5px;
        border-radius: 5px; /* Скругленные углы */
        font-size: 14px;
        cursor: pointer;
    }
</style>
</head>
<body>
<div id="map"></div>
<div class="calculation-box" id="sidebar"></div>
<div class="button-container">
    <button class="button" onclick="resetMap()">Сбросить</button>
    <button class="button" onclick="toggleFullScreen()">Во весь экран</button>
</div>
<select id="color-column" onchange="updatePolygonColors()">
    <option value="typeof">Разнообразие бизнеса</option>
    <option value="Воспроизводство растений">Воспроизводство растений</option>
    <option value="Деятельность в области архитектуры">Деятельность в области архитектуры</option>
    <option value="Деятельность в области фотографии">Деятельность в области фотографии</option>
    <option value="Деятельность в сфере звукозаписи и издания музыкальных произведений">Деятельность в сфере звукозаписи и издания музыкальных произведений</option>
    <option value="Деятельность музеев">Деятельность музеев</option>
    <option value="Деятельность по подготовке материалов к печати и распространению">Деятельность по подготовке материалов к печати и распространению</option>
    <option value="Деятельность по производству кино-, видеофильмов и телевизионных программ">Деятельность по производству кино-, видеофильмов и телевизионных программ</option>
    <option value="Дистилляция, ректификация и смешивание спиртных напитков">Дистилляция, ректификация и смешивание спиртных напитков</option>
    <option value="Дубление и выделка кожи; выделка и крашение меха">Дубление и выделка кожи; выделка и крашение меха</option>
    <option value="Издание газет">Издание газет</option>
    <option value="Издание журналов и периодических публикаций">Издание журналов и периодических публикаций</option>
    <option value="Издание книг">Издание книг</option>
    <option value="Издание прочего программного обеспечения">Издание прочего программного обеспечения</option>
    <option value="Лесоводство и прочая лесохозяйственная деятельность">Лесоводство и прочая лесохозяйственная деятельность</option>
    <option value="Лесозаготовки">Лесозаготовки</option>
    <option value="Лесопильное и строгальное производство">Лесопильное и строгальное производство</option>
    <option value="Литье стали">Литье стали</option>
    <option value="Литье чугуна">Литье чугуна</option>
    <option value="Морское рыболовство">Морское рыболовство</option>
    <option value="Обработка и удаление неопасных отходов">Обработка и удаление неопасных отходов</option>
    <option value="Переработка и консервирование картофеля">Переработка и консервирование картофеля</option>
    <option value="Переработка и консервирование мяса">Переработка и консервирование мяса</option>
    <option value="Переработка и консервирование мяса сельскохозяйственной птицы">Переработка и консервирование мяса сельскохозяйственной птицы</option>
    <option value="Переработка и консервирование рыбы, ракообразных и моллюсков">Переработка и консервирование рыбы, ракообразных и моллюсков</option>
    <option value="Переработка молока и производство сыров">Переработка молока и производство сыров</option>
    <option value="Переработка отсортированных материалов">Переработка отсортированных материалов</option>
    <option value="Переработка чая и кофе">Переработка чая и кофе</option>
    <option value="Переработка ядерного топлива">Переработка ядерного топлива</option>
    <option value="Подготовка и прядение текстильных волокон">Подготовка и прядение текстильных волокон</option>
    <option value="Предоставление услуг парикмахерскими и салонами красоты">Предоставление услуг парикмахерскими и салонами красоты</option>
    <option value="Производство абразивных изделий">Производство абразивных изделий</option>
    <option value="Производство автомобилей">Производство автомобилей</option>
    <option value="Производство алюминия">Производство алюминия</option>
    <option value="Производство батарей и аккумуляторов">Производство батарей и аккумуляторов</option>
    <option value="Производство безалкогольных напитков, минеральных вод и других вод в бутылках">Производство безалкогольных напитков, минеральных вод и других вод в бутылках</option>
    <option value="Производство бижутерии и аналогичных изделий">Производство бижутерии и аналогичных изделий</option>
    <option value="Производство благородных (драгоценных) металлов">Производство благородных (драгоценных) металлов</option>
    <option value="Производство бумаги и картона">Производство бумаги и картона</option>
    <option value="Производство бумажных изделий хозяйственно-бытового и санитарно-гигиенического назначения">Производство бумажных изделий хозяйственно-бытового и санитарно-гигиенического назначения</option>
    <option value="Производство велосипедов, детских и инвалидных колясок/кресел">Производство велосипедов, детских и инвалидных колясок/кресел</option>
    <option value="Производство веревок, канатов, бечевок, шпагата и сетей">Производство веревок, канатов, бечевок, шпагата и сетей</option>
    <option value="Производство воздушных и космических летательных аппаратов и связанного с ними оборудования">Производство воздушных и космических летательных аппаратов и связанного с ними оборудования</option>
    <option value="Производство волоконно-оптических кабелей">Производство волоконно-оптических кабелей</option>
    <option value="Производство вязаного и трикотажного полотна">Производство вязаного и трикотажного полотна</option>
    <option value="Производство вязаных и трикотажных чулочно-носочных изделий">Производство вязаных и трикотажных чулочно-носочных изделий</option>
    <option value="Производство газообразного топлива">Производство газообразного топлива</option>
    <option value="Производство гидравлического и пневматического оборудования">Производство гидравлического и пневматического оборудования</option>
    <option value="Производство готовых кормов для домашних животных">Производство готовых кормов для домашних животных</option>
    <option value="Производство готовых кормов для сельскохозяйственных животных">Производство готовых кормов для сельскохозяйственных животных</option>
    <option value="Производство готовых пищевых продуктов">Производство готовых пищевых продуктов</option>
    <option value="Производство готовых текстильных изделий, кроме одежды">Производство готовых текстильных изделий, кроме одежды</option>
    <option value="Производство гофрированной бумаги и картона, бумажной и картонной тары">Производство гофрированной бумаги и картона, бумажной и картонной тары</option>
    <option value="Производство двигателей и турбин, кроме авиационных, автомобильных и мотоциклетных двигателей">Производство двигателей и турбин, кроме авиационных, автомобильных и мотоциклетных двигателей</option>
    <option value="Производство деревянной тары">Производство деревянной тары</option>
    <option value="Производство детского питания и диетических пищевых продуктов">Производство детского питания и диетических пищевых продуктов</option>
    <option value="Производство дорожных принадлежностей, шорно-седельных изделий">Производство дорожных принадлежностей, шорно-седельных изделий</option>
    <option value="Производство древесной массы и целлюлозы">Производство древесной массы и целлюлозы</option>
    <option value="Производство железнодорожных локомотивов и подвижного состава">Производство железнодорожных локомотивов и подвижного состава</option>
    <option value="Производство замков, петель и шарниров">Производство замков, петель и шарниров</option>
    <option value="Производство и обработка прочих стеклянных изделий">Производство и обработка прочих стеклянных изделий</option>
    <option value="Производство игр и игрушек">Производство игр и игрушек</option>
    <option value="Производство извести и строительного гипса">Производство извести и строительного гипса</option>
    <option value="Производство изделий из асбестоцемента и волокнистого цемента">Производство изделий из асбестоцемента и волокнистого цемента</option>
    <option value="Производство изделий из гипса для строительных целей">Производство изделий из гипса для строительных целей</option>
    <option value="Производство изделий из проволоки, цепей и пружин">Производство изделий из проволоки, цепей и пружин</option>
    <option value="Производство инструментов">Производство инструментов</option>
    <option value="Производство инструментов и приборов для измерения, тестирования и навигации">Производство инструментов и приборов для измерения, тестирования и навигации</option>
    <option value="Производство искусственных и синтетических волокон">Производство искусственных и синтетических волокон</option>
    <option value="Производство какао, шоколада и сахаристых кондитерских изделий">Производство какао, шоколада и сахаристых кондитерских изделий</option>
    <option value="Производство керамических покрытий и плит">Производство керамических покрытий и плит</option>
    <option value="Производство керамических санитарно-технических изделий">Производство керамических санитарно-технических изделий</option>
    <option value="Производство керамических хозяйственных и декоративных изделий">Производство керамических хозяйственных и декоративных изделий</option>
    <option value="Производство керамических электрических изоляторов и изолирующей арматуры">Производство керамических электрических изоляторов и изолирующей арматуры</option>
    <option value="Производство кирпича, черепицы и прочих строительных изделий из обожженной глины">Производство кирпича, черепицы и прочих строительных изделий из обожженной глины</option>
    <option value="Производство клея">Производство клея</option>
    <option value="Производство ковров и ковровых изделий">Производство ковров и ковровых изделий</option>
    <option value="Производство коммуникационного оборудования">Производство коммуникационного оборудования</option>
    <option value="Производство компьютеров и периферийного оборудования">Производство компьютеров и периферийного оборудования</option>
    <option value="Производство красителей и пигментов">Производство красителей и пигментов</option>
    <option value="Производство красок, лаков и аналогичных покрытий, типографской краски и мастик">Производство красок, лаков и аналогичных покрытий, типографской краски и мастик</option>
    <option value="Производство крахмала и продукции из крахмала">Производство крахмала и продукции из крахмала</option>
    <option value="Производство крепежных и резьбовых изделий">Производство крепежных и резьбовых изделий</option>
    <option value="Производство кузовов для автомобилей; производство прицепов и полуприцепов">Производство кузовов для автомобилей; производство прицепов и полуприцепов</option>
    <option value="Производство кузовов для автотранспортных средств; производство трейлеров и полуприцепов">Производство кузовов для автотранспортных средств; производство трейлеров и полуприцепов</option>
    <option value="Производство кухонной мебели">Производство кухонной мебели</option>
    <option value="Производство листового стекла">Производство листового стекла</option>
    <option value="Производство магнитных и оптических носителей информации">Производство магнитных и оптических носителей информации</option>
    <option value="Производство макаронных изделий">Производство макаронных изделий</option>
    <option value="Производство маргарина и аналогичных пищевых жиров">Производство маргарина и аналогичных пищевых жиров</option>
    <option value="Производство масел и жиров">Производство масел и жиров</option>
    <option value="Производство матрасов">Производство матрасов</option>
    <option value="Производство машин и оборудования  для горнодобывающей промышленности, подземной разработки и строительства">Производство машин и оборудования  для горнодобывающей промышленности и строительства</option>
    <option value="Производство машин и оборудования для металлургии">Производство машин и оборудования для металлургии</option>
    <option value="Производство машин и оборудования для изготовления бумаги и картона">Производство машин и оборудования для изготовления бумаги и картона</option>
    <option value="Производство машин и оборудования для изготовления текстильных, швейных, меховых и кожаных изделий">Производство машин и оборудования для изготовления текстильных и кожаных изделий</option>
    <option value="Производство машин и оборудования для обработки пластмасс и резины">Производство машин и оборудования для обработки пластмасс и резины</option>
    <option value="Производство машин и оборудования для производства и переработки продуктов питания, напитков и табачных изделий">Производство машин и оборудования для производства и переработки продуктов питания</option>
    <option value="Производство мебели для офисов и предприятий торговли">Производство мебели для офисов и предприятий торговли</option>
    <option value="Производство меди">Производство меди</option>
    <option value="Производство медицинских и стоматологических инструментов и принадлежностей">Производство медицинских и стоматологических инструментов и принадлежностей</option>
    <option value="Производство металлических бочек и аналогичных емкостей">Производство металлических бочек и аналогичных емкостей</option>
    <option value="Производство металлических дверей и окон">Производство металлических дверей и окон</option>
    <option value="Производство метел и щеток">Производство метел и щеток</option>
    <option value="Производство меховых изделий">Производство меховых изделий</option>
    <option value="Производство мороженого">Производство мороженого</option>
    <option value="Производство мотоциклов">Производство мотоциклов</option>
    <option value="Производство музыкальных инструментов">Производство музыкальных инструментов</option>
    <option value="Производство мукомольно-крупяных продуктов">Производство мукомольно-крупяных продуктов</option>
    <option value="Производство мыла и моющих, чистящих и полирующих средств">Производство мыла и моющих, чистящих и полирующих средств</option>
    <option value="Производство нетканых текстильных изделий, кроме одежды">Производство нетканых текстильных изделий, кроме одежды</option>
    <option value="Производство неэлектрических бытовых приборов">Производство неэлектрических бытовых приборов</option>
    <option value="Производство нижнего белья">Производство нижнего белья</option>
    <option value="Производство ножевых изделий">Производство ножевых изделий</option>  
    <option value="Производство облучающего, электромедицинского и электротерапевтического оборудования">Производство электромедицинского оборудования</option>
    <option value="Производство обоев">Производство обоев</option>
    <option value="Производство обуви">Производство обуви</option>
    <option value="Производство огнеупорных изделий">Производство огнеупорных изделий</option>
    <option value="Производство одежды из кожи">Производство одежды из кожи</option>
    <option value="Производство оптических приборов, фото- и кинооборудования">Производство оптических приборов, фото- и кинооборудования</option>
    <option value="Производство оружия и боеприпасов">Производство оружия и боеприпасов</option>
    <option value="Производство основных фармацевтических продуктов">Производство основных фармацевтических продуктов</option>
    <option value="Производство офисной и студийной мебели">Производство офисной и студийной мебели</option>
    <option value="Производство офисной техники и оборудования (за исключением компьютеров и периферийного оборудования)">Производство офисной техники и оборудования</option>
    <option value="Производство паровых котлов, кроме котлов центрального отопления">Производство паровых котлов, кроме котлов центрального отопления</option>
    <option value="Производство парфюмерных и косметических средств">Производство парфюмерных и косметических средств</option>
    <option value="Производство пестицидов и прочей агрохимической продукции">Производство пестицидов и прочей агрохимической продукции</option>
    <option value="Производство пива">Производство пива</option>
    <option value="Производство писчебумажных изделий">Производство писчебумажных изделий</option>
    <option value="Производство пластмасс в первичных формах">Производство пластмасс в первичных формах</option>
    <option value="Производство пластмассовых плит, листов, труб и профилей">Производство пластмассовых плит, листов, труб и профилей</option>
    <option value="Производство пластмассовых упаковок для товаров">Производство пластмассовых упаковок для товаров</option>
    <option value="Производство плит, печей и печных горелок">Производство плит, печей и печных горелок</option>
    <option value="Производство подшипников, зубчатых передач, элементов зубчатых передач и приводов">Производство подшипников, элементов зубчатых передач и приводов</option>
    <option value="Производство подъемно-транспортного оборудования">Производство подъемно-транспортного оборудования</option>
    <option value="Производство полых стеклянных изделий">Производство полых стеклянных изделий</option>
    <option value="Производство проволоки путем холодного волочения">Производство проволоки путем холодного волочения</option>
    <option value="Производство продуктов из мяса и мяса сельскохозяйственной птицы">Производство продуктов из мяса и мяса сельскохозяйственной птицы</option>
    <option value="Производство продуктов нефтепереработки, брикетов из торфа и угля">Производство продуктов нефтепереработки, брикетов из торфа и угля</option>
    <option value="Производство продукции коксовых печей">Производство продукции коксовых печей</option>
    <option value="Производство промышленного холодильного и вентиляционного оборудования">Производство промышленного холодильного и вентиляционного оборудования</option>
    <option value="Производство промышленных газов">Производство промышленных газов</option>
    <option value="Производство прочего электрического оборудования">Производство прочего электрического оборудования</option>
    <option value="Производство прочей верхней одежды">Производство прочей верхней одежды</option>
    <option value="Производство прочей вязаной и трикотажной одежды">Производство прочей вязаной и трикотажной одежды</option>
    <option value="Производство прочей мебели">Производство прочей мебели</option>
    <option value="Производство прочей неметаллической минеральной продукции, не включенной в другие группировки">Производство прочей неметаллической минеральной продукции</option>
    <option value="Производство прочей продукции, не включенной в другие группировки">Производство прочей продукции, не включенной в другие группировки</option>
    <option value="Производство прочих видов одежды и аксессуаров">Производство прочих видов одежды и аксессуаров</option>
    <option value="Производство прочих готовых металлических изделий, не включенных в другие группировки">Производство прочих готовых металлических изделий, не включенных в другие группировки</option>
    <option value="Производство прочих деревянных изделий; производство изделий из пробки, соломки и материалов для плетения">Производство изделий из пробки, соломки и материалов для плетения</option>
    <option value="Производство прочих деревянных строительных конструкций и столярных  изделий">Производство прочих деревянных строительных конструкций и столярных  изделий</option>
    <option value="Производство прочих изделий из бетона, строительного гипса и цемента">Производство прочих изделий из бетона, строительного гипса и цемента</option>
    <option value="Производство прочих изделий из бумаги и картона">Производство прочих изделий из бумаги и картона</option>
    <option value="Производство прочих керамических изделий">Производство прочих керамических изделий</option>
    <option value="Производство прочих кранов, клапанов и вентилей">Производство прочих кранов, клапанов и вентилей</option>
    <option value="Производство прочих машин и оборудования общего назначения, не включенных в другие группировки">Производство прочих машин и оборудования общего назначения</option>
    <option value="Производство прочих машин и оборудования специального назначения, не включенных в другие группировки">Производство прочих машин и оборудования специального назначения</option>
    <option value="Производство прочих металлических цистерн, резервуаров и контейнеров">Производство прочих металлических цистерн, резервуаров и контейнеров</option>
    <option value="Производство прочих насосов и компрессоров">Производство прочих насосов и компрессоров</option>
    <option value="Производство прочих недистиллированных напитков из сброженного материала">Производство прочих недистиллированных напитков из сброженного материала</option>
    <option value="Производство прочих основных неорганических химических веществ">Производство прочих основных неорганических химических веществ</option>
    <option value="Производство прочих основных органических химических веществ">Производство прочих основных органических химических веществ</option>
    <option value="Производство прочих пластмассовых изделий">Производство прочих пластмассовых изделий</option>
    <option value="Производство прочих продуктов питания, не включенных в другие группировки">Производство прочих продуктов питания, не включенных в другие группировки</option>
    <option value="Производство прочих резиновых изделий">Производство прочих резиновых изделий</option>
    <option value="Производство прочих станков">Производство прочих станков</option>
    <option value="Производство прочих текстильных изделий технического и производственного назначения">Производство прочих текстильных изделий производственного назначения</option>
    <option value="Производство прочих текстильных изделий, не включенных в другие группировки">Производство прочих текстильных изделий, не включенных в другие группировки</option>
    <option value="Производство прочих технических керамических изделий">Производство прочих технических керамических изделий</option>
    <option value="Производство прочих химических продуктов, не включенных в другие группировки">Производство прочих химических продуктов, не включенных в другие группировки</option>
    <option value="Производство прочих цветных металлов">Производство прочих цветных металлов</option>
    <option value="Производство прочих частей и принадлежностей автомобилей">Производство прочих частей и принадлежностей автомобилей</option>
    <option value="Производство прочих электрических проводов и кабелей">Производство прочих электрических проводов и кабелей</option>
    <option value="Производство пряностей и приправ">Производство пряностей и приправ</option>
    <option value="Производство радиаторов и котлов центрального отопления">Производство радиаторов и котлов центрального отопления</option>
    <option value="Производство резиновых шин, покрышек и камер; восстановление резиновых шин и покрышек">Производство резиновых шин, покрышек и камер</option>
    <option value="Производство ручных механизированных инструментов">Производство ручных механизированных инструментов</option>
    <option value="Производство сахара">Производство сахара</option>
    <option value="Производство сборных паркетных покрытий">Производство сборных паркетных покрытий</option>
    <option value="Производство свинца, цинка и олова">Производство свинца, цинка и олова</option>
    <option value="Производство сельскохозяйственной и лесохозяйственной техники">Производство сельскохозяйственной и лесохозяйственной техники</option>
    <option value="Производство сидра и прочих плодовых вин">Производство сидра и прочих плодовых вин</option>
    <option value="Производство синтетического каучука в первичных формах">Производство синтетического каучука в первичных формах</option>
    <option value="Производство солода">Производство солода</option>
    <option value="Производство спецодежды">Производство спецодежды</option>
    <option value="Производство спортивных товаров">Производство спортивных товаров</option>
    <option value="Производство станков для обработки металлов">Производство станков для обработки металлов</option>
    <option value="Производство стекловолокна">Производство стекловолокна</option>
    <option value="Производство строительных изделий из бетона">Производство строительных изделий из бетона</option>
    <option value="Производство строительных металлических конструкций и их частей">Производство строительных металлических конструкций и их частей</option>
    <option value="Производство строительных пластмассовых изделий">Производство строительных пластмассовых изделий</option>
    <option value="Производство сухарей и печенья; производство мучных кондитерских изделий длительного хранения">Производство сухарей и печенья</option>
    <option value="Производство табачных изделий">Производство табачных изделий</option>
    <option value="Производство труб, трубок, полых профилей, фитингов из стали">Производство труб, трубок, полых профилей, фитингов из стали</option>
    <option value="Производство удобрений и азотосодержащих соединений">Производство удобрений и азотосодержащих соединений</option>
    <option value="Производство упаковки из легких металлов">Производство упаковки из легких металлов</option>
    <option value="Производство фармацевтических препаратов и медицинских материалов">Производство фармацевтических препаратов и медицинских материалов</option>
    <option value="Производство фруктовых и овощных соков">Производство фруктовых и овощных соков</option>
    <option value="Производство хлебобулочных, макаронных и мучных кондитерских изделий">Производство хлебобулочных, макаронных и мучных кондитерских изделий</option>
    <option value="Производство цемента">Производство цемента</option>
    <option value="Производство часов">Производство часов</option>
    <option value="Производство чугуна, стали и ферросплавов">Производство чугуна, стали и ферросплавов</option>
    <option value="Производство шпона, фанеры, плит и панелей из древесины">Производство шпона, фанеры, плит и панелей из древесины</option>
    <option value="Производство электрических бытовых приборов">Производство электрических бытовых приборов</option>
    <option value="Производство электрического и электронного оборудования для автомобилей">Производство электрического и электронного оборудования для автомобилей</option>
    <option value="Производство электродвигателей, генераторов и трансформаторов">Производство электродвигателей, генераторов и трансформаторов</option>
    <option value="Производство электромонтажных устройств">Производство электромонтажных устройств</option>
    <option value="Производство электронной бытовой техники">Производство электронной бытовой техники</option>
    <option value="Производство электронных плат">Производство электронных плат</option>
    <option value="Производство электронных элементов">Производство электронных элементов</option>
    <option value="Производство электроосветительного оборудования">Производство электроосветительного оборудования</option>
    <option value="Производство электрораспределительной и регулирующей аппаратуры">Производство электрораспределительной и регулирующей аппаратуры</option>
    <option value="Производство электроэнергии">Производство электроэнергии</option>
    <option value="Производство эфирных масел">Производство эфирных масел</option>
    <option value="Производство ювелирных и аналогичных изделий">Производство ювелирных и аналогичных изделий</option>
    <option value="Прочие виды издательской деятельности">Прочие виды издательской деятельности</option>
    <option value="Прочие виды переработки и консервирования фруктов и овощей">Прочие виды переработки и консервирования фруктов и овощей</option>
    <option value="Разведение крупного рогатого скота молочного направления">Разведение крупного рогатого скота молочного направления</option>
    <option value="Разведение лошадей и прочих животных семейства лошадиных">Разведение лошадей и прочих животных семейства лошадиных</option>
    <option value="Разведение свиней ">Разведение свиней</option>
    <option value="Разведение сельскохозяйственной птицы">Разведение сельскохозяйственной птицы</option>
    <option value="Резка, обработка и отделка камня">Резка, обработка и отделка камня</option>
    <option value="Рыболовство и рыбоводство">Рыболовство и рыбоводство</option>
    <option value="Сбор дикорастущей недревесной продукции ">Сбор дикорастущей недревесной продукции</option>
    <option value="Сбор неопасных отходов">Сбор неопасных отходов</option>
    <option value="Сбор опасных отходов">Сбор опасных отходов</option>
    <option value="Ткацкое производство">Ткацкое производство</option>
    <option value="Формирование и обработка листового стекла">Формирование и обработка листового стекла</option>
    <option value="Холодная прокатка лент и узких полос">Холодная прокатка лент и узких полос</option>
    <option value="Холодная формовка или гибка">Холодная формовка или гибка</option>
    <option value="Холодное волочение">Холодное волочение</option>
    <option value="Художественное и литературное творчество">Художественное и литературное творчество</option>
    <option value="Чеканка/выпуск монет и медалей">Чеканка/выпуск монет и медалей</option>
    <option value="Всего">Общее число компаний</option>
</select>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYWxpbmFjaCIsImEiOiJjbGlpcnZpaTgwMTZ4M2twaGo1NjRsNHhhIn0.9jw_R_D1i1nqOtaolld-dQ';
const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/alinach/clvcjhvxf00ie01qzg9jqcm2p',
    center: [76.879751, 43.24517], // Centered on New York City
    zoom: 12
});

map.on('load', () => {
    // Replace this URL with your own GeoJSON data URL
    const geojsonUrl = 'https://raw.githubusercontent.com/alinachrks/fun_house/main/hexa_rec_oked_.geojson';

    // Add a source for your GeoJSON data.
    map.addSource('custom-data', {
        'type': 'geojson',
        'data': geojsonUrl
    });

    // Add a layer showing your GeoJSON data.
    map.addLayer({
        'id': 'custom-data-layer',
        'type': 'fill',
        'source': 'custom-data',
        'paint': {
            'fill-color': [
                'case',
                ['==', ['typeof', ['get', 'Всего']], 'number'],
                [
                    'interpolate',
                    ['linear'],
                    ['get', 'Всего'],
                    0, 'rgba(241, 248, 246, 0.45)',        // Светло-серый
                    300, 'rgba(17, 87, 171, 0.65)',         // Тёмно-синий
                    500, 'rgba(0, 128, 128, 0.65)',         // Тиркиз
                    900, 'rgba(255, 255, 0, 0.65)',         // Жёлтый
                    1400, 'rgba(126, 177, 16, 0.65)',        // Светло-зелёный
                    1700, 'rgba(39, 116, 6, 0.65)'           // Тёмно-зелёный
                ],
                'rgba(211, 211, 211, 0.4)' // Light gray color for NaN
            ],
            'fill-outline-color': 'rgba(151, 161, 169, 0.6)',
            'line-opacity': 1, // Border opacity
            'line-color': 'rgba(151, 161, 169, 0.6)' // Border color
        }
    });

    // Add a layer for the highlighted polygon outline.
    map.addLayer({
        'id': 'highlighted-polygon-outline',
        'type': 'line',
        'source': 'custom-data',
        'filter': ['==', 'id', ''],
        'paint': {
            'line-color': 'rgba(0, 0, 0, 1)',
            'line-width': 2
        }
    });

    // When a click event occurs on a feature in the custom data layer,
    // open a sidebar with information about the polygon and fly to it.
    map.on('click', 'custom-data-layer', (e) => {
    const properties = e.features[0].properties;

    // Получить имена свойств (столбцов) и их значения
    const propertyEntries = Object.entries(properties);

    // Отсортировать свойства по значению в обратном порядке (убывающему)
    const sortedProperties = propertyEntries.sort((a, b) => b[1] - a[1]);

    // Взять только топ-10 свойств
    const topProperties = sortedProperties.slice(1, 16);

    let sidebarContent = '<div style="width: 100%;">';
    sidebarContent += '<h3>Рекомендуемые направления</h3>';
    for (const [key, value] of topProperties) {
        // Прямое использование key в качестве displayName
        sidebarContent += `<p><span style="font-weight: normal;">${key}:</span> ${value}%</p>`;
        sidebarContent += '<hr>'; // Добавляем линию после каждой строки
    }
    sidebarContent += '</div>';




    // Отобразить информацию в боковой панели
    document.getElementById('sidebar').innerHTML = sidebarContent;

    // Reset the style of all outlines
    map.setPaintProperty('custom-data-layer', 'fill-outline-color', 'rgba(200, 200, 200, 0.5)');
    map.setPaintProperty('custom-data-layer', 'fill-outline-width', 1);

    // Set a bold outline for the selected polygon
    map.setFilter('highlighted-polygon-outline', ['==', 'id', e.features[0].id]);
    map.setPaintProperty('highlighted-polygon-outline', 'line-width', 4);

    map.flyTo({
        center: e.lngLat,
        zoom: 16,
        essential: true // this animation is considered essential with respect to prefers-reduced-motion
    });
});
    // Change the cursor to a pointer when
    // the mouse is over the custom data layer.
    map.on('mouseenter', 'custom-data-layer', () => {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change the cursor back to a pointer
    // when it leaves the custom data layer.
    map.on('mouseleave', 'custom-data-layer', () => {
        map.getCanvas().style.cursor = '';
    });
});

function resetMap() {
    map.setFilter('highlighted-polygon-outline', ['==', 'id', '']);
    map.flyTo({
        center: [76.879751, 43.24517],
        zoom: 12,
        essential: true // this animation is considered essential with respect to prefers-reduced-motion
    });
    document.getElementById('sidebar').innerHTML = '';
}

function toggleFullScreen() {
    var button = document.querySelector('.button-container .button:nth-child(2)');
    if (!document.fullscreenElement) {
        document.documentElement.requestFullscreen();
        button.textContent = 'Свернуть';
    } else {
        if (document.exitFullscreen) {
            document.exitFullscreen();
            button.textContent = 'Во весь экран';
        }
    }
}


function updatePolygonColors() {
    const colorProperty = document.getElementById('color-column').value;

    // Find the minimum and maximum values for the selected color property
    const features = map.querySourceFeatures('custom-data', {
        sourceLayer: 'your-source-layer-name' // Update this with your actual source layer name
    });
    let minValue = Infinity;
    let maxValue = -Infinity;
    features.forEach(feature => {
        const value = feature.properties[colorProperty];
        if (typeof value === 'number' && !isNaN(value)) {
            minValue = Math.min(minValue, value);
            maxValue = Math.max(maxValue, value);
        }
    });

    // Set the paint property with the calculated min and max values
    map.setPaintProperty('custom-data-layer', 'fill-color', [
        'match',
        ['typeof', ['get', colorProperty]],
        'number',
        [
            'interpolate',
            ['linear'],
            ['get', colorProperty],
            minValue, 'rgba(241, 248, 246, 0.45)',
            maxValue * 0.1, 'rgba(17, 87, 171, 0.65)',     // Dark blue
            maxValue * 0.2, 'rgba(0, 128, 128, 0.65)',     // Teal
            maxValue * 0.3, 'rgba(255, 255, 0, 0.65)',
            maxValue * 0.5, 'rgba(126, 177, 16, 0.65)',     // Light green
            maxValue * 0.6, 'rgba(39, 116, 6, 0.65)'        // Dark green
        ],
        'rgba(211, 211, 211, 0.4)' // Light gray color for NaN
    ],
    // If the column contains only 0 and 1, set specific colors for them
    [
        'match',
        ['get', colorProperty],
        0, 'rgba(255, 255, 255, 0.4)', // Light gray for 0
        1, 'rgba(17, 87, 171, 0.65)',  // Dark blue for 1
        'rgba(211, 211, 211, 0.4)'     // Light gray color for other values
    ]);
}


</script>
</body>
</html>